spring:
  application:
    name: polyglotCloud

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: your_username  # Lo obtienes de mailtrap.io
    password: your_password  # Lo obtienes de mailtrap.io
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: sandbox.smtp.mailtrap.io


app:
  email:
    from: noreply@polyglotcloud.com
    verification-url: http://localhost:8080/auth/verify-email #Development URL
    support-email: support@polyglotcloud.com
