spring:
  application:
    name: polyglotCloud

  mail:
    host: smtp.gmail.com  # O tu proveedor SMTP
    port: 587
    username: tu-email@gmail.com  # Tu email
    password: tu-app-password     # App password de Gmail
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
