spring:
  application:
    name: polyglotCloud

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: e16cfa543dd8c5  # Lo obtienes de mailtrap.io
    password: 3fe7c49bb154a2  # Lo obtienes de mailtrap.io
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: sandbox.smtp.mailtrap.io


app:
  email:
    from: noreply@polyglotcloud.com
    verification-url: http://localhost:8080/auth/verify-email
    support-email: support@polyglotcloud.com
